:root {
    --bg-color: #333333;
    --bg-color-shadow: #222222;
    
    --bg-color-semiopaq-dark: #333333F8;
    --bg-color-semiopaq: #333333F0;
    
    --bg-selection: #282828AA;

    --transition-speed: 0.1s;
    --elem-radius: 10px;

    --syntax-comment: #8888AA;
    --syntax-head: #6688FF;
    --syntax-head-undef: #EE8800;
    --syntax-sep: #AAAAAA;

    --scrollbar-track: #282828;
    --scrollbar-thumb: #2F2F2F;
}

html, body{
    margin: 0;
    padding: 0;

    width: 100%;
    height: 100%;

    background: --bg-color;
    font-family: 'Recursive', sans-serif;
}
html{
    overflow: hidden;
}
body{
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-track) var(--scrollbar-thumb);
}
::-webkit-scrollbar {
    width: 10px;
    height: 10px;

    background: var(--scrollbar-track);
}
::-webkit-scrollbar-button {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb);
    border: 0px solid transparent;
    border-radius: 0px;
}
::-webkit-scrollbar-track {
    background: transparent;
    border: 0px none transparent;
    border-radius: 0px;
}
::-webkit-scrollbar-corner {
    background: transparent;
}

#container{
    width: 100%;
    height: 100%;

    position: relative;
}
#canvas-pointer, #canvas-display, #viewer {
    position: absolute;
    top: 0;
    left: 0;
}

#canvas-pointer, #canvas-display{
    width: 100%;
    height: 100%;
    display: block;
}
#canvas-display{
    opacity: 1;
}
#canvas-pointer{
    opacity: 0;
}

#viewer{
    margin: 20px;
    background: transparent;
    color: transparent;

    display: flex;
    flex-flow: row nowrap;
    transition: var(--transition-speed);
}

#viewer.min{ 
    height: 40px; 
    user-select: none;
    pointer-events: none;
}
#viewer.shown{ height: 90%; }
#viewer.view{ width: min(45%, 800px); }
#viewer.edit{ width: min(90%, 1600px); }

#output, #editor{
    overflow: auto;
    box-shadow: 0px 2px 2px 2px var(--bg-color-shadow);    

    background: transparent;
    color: transparent;
}
#output{
    padding: 10px 10px 10px 20px;
    width: 100%;
    color: white;

    font-weight: thin;
    overflow: auto;

    background: var(--bg-color-semiopaq-dark);
}

#output_title{
    font-size: 120%;
    color: white;
    margin-bottom: 10px;
}
.output_ln_error{
    display: inline;
    color: orange;
}
.output_ln_code{
    display: inline;
    font-family: 'Source Code Pro', monospace;
    font-weight: thin;
}


#editor{
    border-top-right-radius: var(--elem-radius);
    box-shadow: inset 0px 0px 2px 2px var(--bg-color-shadow);

    font-family: 'Source Code Pro', monospace;
    font-weight: thin;

    position: relative;
    background: var(--bg-color-semiopaq);
}
#editor.view{
    width: 0%;
    user-select: none;
}
#editor.edit{
    color: white;
    padding: 20px;
    width: 100%;
}
#editor.view::transition{
    background: transparent;
    color: white;
}
#editor.edit::selection{
    background: var(--bg-selection);
}

#editor_syntax, #editor_data{
    padding: 10px;
    width: 90%;

    position: absolute;
    top: 0;
    left: 0;

    display: inline-block;
    outline: 0px solid transparent;

    /* DO NOT TOUCH THIS, IT WILL BREAK THE EDITOR */
    white-space: pre; 

}
#editor_data{
    color: transparent;
    caret-color: white;

    min-height: 90%;
}
#editor_data::selection{
    background: var(--bg-selection);
}
#editor_syntax{
    color: white;
}
.editor_ln{ 
    display: inline; 
}
.editor_ln_head{
    color: var(--syntax-head);
    display: inline;

    font-weight: bold;
    font-style: italic;
}
.editor_ln_head_undef{
    color: var(--syntax-head-undef);
    display: inline;

    font-weight: bold;
    font-style: italic;
}
.editor_ln_comment{
    color: var(--syntax-comment);
    display: inline;

    font-weight: thin;
    font-style: italic;
}
.editor_ln_sep{
    color: var(--syntax-sep);
    display: inline;
}

#graph_tooltip{
    font-family: 'Source Code Pro', monospace;
    font-weight: thin;
    font-size: 100%;

    position: absolute;

    padding: 5px;

    color: white;
    background: var(--bg-color);
    box-shadow: 0px 0px 2px 2px var(--bg-color-shadow);
}
#graph_tooltip.hidden{
    display: none;
}

#graph_contextmenu{
    font-family: 'Source Code Pro', monospace;
    font-weight: thin;
    font-size: 100%;

    position: absolute;

    padding: 0px;
    padding-top: 2px;
    padding-bottom: 2px;
}
#graph_contextmenu.hidden{
    display: none;
}
#graph_contextmenu.view{
    color: white;
    background: var(--bg-color);
    box-shadow: 0px 0px 2px 2px var(--bg-color-shadow);
}

#graph_contextmenu > .button{
    padding-left: 10px;
    padding-right: 10px;
}
#graph_contextmenu > .button.enabled{
    background: var(--bg-color);
}
#graph_contextmenu > .button.enabled:hover{
    background: var(--bg-color-shadow);
}
#graph_contextmenu > .button.disabled{
    color: #666666;
}